body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.peterParkar {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width p {
    text-align: justify;
    width: 85%;
    margin-bottom: 25px;
    color: dimgray;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    box-shadow: 10px 10px 40px grey;
    height: 400px;
    border-radius: 10px;
}

.experience-item p {
    text-align: justify;
    width: 90%;
    color: dimgray;
}

.experience-area h1 {
    text-align: center;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-dev {
    border-left: 7px solid tomato;
}

#baby-web-dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}